@model IList<ConspectoPatronum.Domain.Subject>

@{
    ViewBag.Title = "Все курсов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Список курсов. Для каждого указаны наименование и преподаватель.
