@model ConspectoPatronum.Models.SemesterViewModel

@{
    ViewBag.Title = "Семестры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ol>
    <li>Список семестров, текущий выбран</li>
    <li>Список предметов для данного семестра</li>
    <li>Спецкурсы не относятся ни к одному семестру и вынесены отдельно</li>
</ol>
