@model ConspectoPatronum.Models.SubjectViewModel

@{
    ViewBag.Title = "Предмет какой-то конкретный";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Информация о предмете:
<ol>
    <li>Наименование</li>
    <li>Описание</li>
    <li>
        Степень сложности
        <ul>
            <li>Халява</li>
            <li>Норма</li>
            <li>Сложно</li>
            <li>Смерть</li>
        </ul>
    </li>
    <li>Семестр начала</li>
    <li>Семестр конца</li>
    <li>
        Преподаватель
        <ul>
            <li>ФИО</li>
            <li>
                Категория
                <ul>
                    <li>Лояльный</li>
                    <li>Нормальный</li>
                    <li>Маниакально-агрессивный</li>
                </ul>
            </li>
            <li>Фото</li>
        </ul>
    </li>
    <li>Фотографии конспектов. Комментарии подгружаются через AJAX при открытии фотографии.</li>
</ol>