@model ConspectoPatronum.Models.TeachersSubjectsViewModel

@{
    ViewBag.Title = "Предметы преподавателя какого-то";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Список ссылок на каждый предмет данного преподавателя.
