@{
    ViewBag.Title = "Conspecto.Patronum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">Конспекты</div>
    <div class="col-md-2">Свадьбы, корпоративы</div>
</div>

<div class="row">
    <div class="col-md-2">Конспекты</div>
    <div class="col-md-2">Свадьбы, корпоративы</div>
</div>
